.HumanResources-section{
    width: 100%;
}

.HumanResources-section .container{
    max-width: 1920px;
    margin: 0 auto;
}

.HumanResources-section .container .bg{
    width: 100%;
    height: 200px;
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.HumanResources-section .container .bg::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a3d9389;
}

.HumanResources-section .container .humanresources-main-container{
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.HumanResources-section .container .humanresources-main-container .heading{
    width: 100%;
    text-align: center;
}

.HumanResources-section .container .humanresources-main-container .heading span{
    font-size: 33px;
    font-weight: 700;
    color: #2A3D93;
    position: relative;
}

.HumanResources-section .container .humanresources-main-container .heading span::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ECC91F;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.HumanResources-section .container .humanresources-main-container .main-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.HumanResources-section .container .humanresources-main-container .main-container .same-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.HumanResources-section .container .humanresources-main-container .main-container .same-box h3{
    font-size: 15px;
}

.HumanResources-section .container .humanresources-main-container .main-container .same-box  span{
    font-size: 18px;
    font-weight: 500;
}

@media (max-width:700px) {
    .HumanResources-section .container .humanresources-main-container{
        padding: 30px;
    }

    .HumanResources-section .container .humanresources-main-container .heading span{
        font-size: 25px;
    }
}

@media (max-width:499px) {
    .HumanResources-section .container .humanresources-main-container{
        padding: 20px;
    }

    .HumanResources-section .container .humanresources-main-container .heading span{
        font-size: 35px;
    }
}

@media (max-width:370px) {
    .HumanResources-section .container .humanresources-main-container{
        padding: 20px;
    }

    .HumanResources-section .container .humanresources-main-container .heading span{
        font-size: 30px;
    }
}